<div class="row">
  <!-- Column -->
  
  
  <div class="col-lg-12">
    <div class="card">
      
      <div class="card-body">
        <div class="row">
          <div class="col-md-12  text-right">
            <button class="btn btn-primary mb-2">Export CSV</button>
          </div>
        </div>
        <div class="">
          <table class="table v-middle product-overview" id="zero_config">
            <thead>
              <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>ID Proof</th>
                <th>Ride Date</th>
                <th>Ride Type</th>
                <th>Bike Health</th>
                <th>User Permission</th>
                <th>User Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="assets/images/users/2.jpg" alt="iMac" width="60" class="rounded-circle">
                </td>
                <td>Ronny </td>
                <td><a href="javascript:void(0)" class="text-inverse p-r-10" title="ID Proof"
                    (click)="openWindowCustomClass(content3)">
                    <img src="assets/images/gallery/driving-licence.jpg" alt="iMac" width="60" class="">
                  </a></td>
                <td>10-7-2020</td>
                <td>Tour</td>
                <td>20</td>
                <td><span class="label-warning pl-1 pr-1 text-white">Pending</span></td>
                <td>
                  <div class="form-check">
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="customControlValidation2"
                        name="radio-stacked"  disabled>
                      <label class="custom-control-label" for="customControlValidation2">Inactive</label>
                    </div>
                  </div>
                </td>
                <td>
                  <div ngbDropdown placement="bottom" class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                      Action
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item" (click)="userprofileModal(userprofile)"><i class="ti-eye"></i> View
                      </button>
                      <button class="dropdown-item" (click)="userDetailModal(userDetail)"><i _ngcontent-axh-c146=""
                          class="ti-marker-alt"></i> Edit</button>
                      
                      <button class="dropdown-item" (click)="userDeleteModal(userDelete)"><i class="ti-trash"></i>
                        Delete</button>  
                    </div>
                  </div>
                 
                </td>
              </tr>
              <tr>
                <td>
                  <img src="assets/images/gallery/user.jpg" alt="iMac" width="60" class="rounded-circle">
                </td>
                <td>Andrew</td>
                <td><a href="javascript:void(0)" class="text-inverse p-r-10" title="ID Proof"
                    (click)="openWindowCustomClass(content3)">
                    <img src="assets/images/gallery/driving-licence.jpg" alt="iMac" width="60" class="">
                  </a></td>
                <td>10-7-2020</td>
                <td>Tour</td>
                <td>80</td>
                <td><span class="label-warning pl-1 pr-1 text-white">Pending</span></td>
                <td>
                  <div class="form-check">
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="customControlValidation"
                        name="radio-stacked1" checked disabled>
                      <label class="custom-control-label" for="customControlValidation">Active</label>
                    </div>
                  </div>
                </td>
                <td>

                  <div ngbDropdown placement="bottom" class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                      Action
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item" (click)="userprofileModal(userprofile)"><i class="ti-eye"></i> View
                      </button>
                      <button class="dropdown-item" (click)="userDetailModal(userDetail)"><i _ngcontent-axh-c146=""
                          class="ti-marker-alt"></i> Edit</button>
                      
                      <button class="dropdown-item" (click)="userDeleteModal(userDelete)"><i class="ti-trash"></i>
                        Delete</button>  
                    </div>
                  </div>


                </td>
              </tr>
              <tr>
                <td>
                  <img src="assets/images/users/1.jpg" alt="iMac" width="60" class="rounded-circle">
                </td>
                <td>Liza</td>
                <td><a href="javascript:void(0)" class="text-inverse p-r-10" title="ID Proof"
                    (click)="openWindowCustomClass(content3)">
                    <img src="assets/images/gallery/driving-licence.jpg" alt="iMac" width="60" class="">
                  </a></td>
                <td>10-7-2020</td>
                <td>Tour</td>
                <td>60</td>
                <td><span class="label-success pl-1 pr-1 text-white">Accepted</span></td>
                <td>
                  <div class="form-check">
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="customControlValidation2"
                        name="radio-stacked" checked disabled>
                      <label class="custom-control-label" for="customControlValidation2">Active</label>
                    </div>
                  </div>
                </td>
                <td>
                  <div ngbDropdown placement="bottom" class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                      Action
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item" (click)="userprofileModal(userprofile)"><i class="ti-eye"></i> View
                      </button>
                      <button class="dropdown-item" (click)="userDetailModal(userDetail)"><i _ngcontent-axh-c146=""
                          class="ti-marker-alt"></i> Edit</button>
                      
                      <button class="dropdown-item" (click)="userDeleteModal(userDelete)"><i class="ti-trash"></i>
                        Delete</button>  
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>

<ng-template #content3 let-modal>
  <div class="modal-header p-2">
    <h4 class="modal-title">Driving Licence</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <figure class=""><img src="assets/images/gallery/driving-licence.jpg" class="img-fluid"></figure>
      </div>
      <div class="col-md-6">
        <figure class=""><img src="assets/images/gallery/driving-licence.jpg" class="img-fluid"></figure>
      </div>
    </div>
  </div>
</ng-template>


<!-- view modal -->
<ng-template #userprofile let-modal>
  <div class="modal-body">
    <button type="button" class=" close-icon" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="mdi mdi-close"></i>
    </button>
    <div class="row">
      <!-- Column -->
      <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card">
          <div class="card-body">
            <div class="m-t-30 text-center">
              <img src="assets/images/users/5.jpg" class="rounded-circle" width="120" />
              <h4 class="card-title m-t-10">Hanna Gover</h4>
            </div>

          </div>
          <div class="m-t-10 text-center">
            <img src="assets/images/users/qr.jpg" class="" width="150" />
          </div>

        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-9 col-xlg-9 col-md-7">
        <div class="card custom-tabs mb-0">
          <div class="card-body">
           <div class="col-md-12 text-right"><button class="btn btn-primary">Export CSV</button></div> 
            <ngb-tabset>
              <ngb-tab>
                <ng-template ngbTabTitle><b>User Detail</b></ng-template>
                <ng-template ngbTabContent>
                  <div class="row pt-2">
                    <div class="col-md-6">
                      <ul class="list-block">
                        <li class="list-block-listing">Name: <span class="font-weight-600">Hanna Gover</span></li>
                        <li class="list-block-listing">Start Ride Date: <span class="font-weight-600">19-8-2020</span>
                        </li>
                        <li class="list-block-listing">End Ride Date: <span class="font-weight-600">21-8-2020</span>
                        </li>
                        <li class="list-block-listing">Ride Type: <span class="font-weight-600">Tour</span></li>
                        <li class="list-block-listing">Bike Id: <span>#33434323</span></li>
                        <li class="list-block-listing">Bike Battery: <span>50%</span></li>


                      </ul>
                    </div>
                    <div class="col-md-6">
                      <ul class="list-block">
                        <li class="list-block-listing">Email: <span class="font-weight-600">Hannagover@gmail.com</span>
                        </li>
                        <li class="list-block-listing">Start Time: <span class="font-weight-600">8:30 AM</span></li>
                        <li class="list-block-listing ">Emd Time: <span class="font-weight-600">7:00 PM</span></li>
                        <li class="list-block-listing "> <span>Total Ride:</span> <span class="font-weight-600">20
                            KM</span></li>
                        <li class="list-block-listing">Total Billing: <span class="font-weight-600">$250</span></li>
                        <li class="list-block-listing">Ride Status: <span
                            class="label label-success font-weight-100">Finished</span></li>

                      </ul>
                    </div>
                  </div>
                  <div class="map-box">
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                      width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle><b>User Document</b></ng-template>
                <ng-template ngbTabContent>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <figure class=""><img src="assets/images/gallery/driving-licence.jpg" class="img-fluid"></figure>
                    </div>
                    <div class="col-md-6">
                      <figure class=""><img src="assets/images/gallery/driving-licence.jpg" class="img-fluid"></figure>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle><b>User History</b></ng-template>
                <ng-template ngbTabContent>
                  <ul class="user_history pl-0">
                    <li class="user_history_list"><span class="user_history_list_icon"><i
                          class="mdi mdi-map-marker"></i></span> <span>Location 1</span> </li>
                    <li class="user_history_list"><span class="user_history_list_icon"><i
                          class="mdi mdi-map-marker"></i></span> <span>Location 2</span> </li>
                    <li class="user_history_list skip"><span class="user_history_list_icon"><i
                          class="mdi mdi-map-marker"></i></span> <span class="text-decoration-line">Location 3</span>
                    </li>
                    <li class="user_history_list"><span class="user_history_list_icon"><i
                          class="mdi mdi-map-marker"></i></span> <span>Location 4</span> </li>
                    <li class="user_history_list"><span class="user_history_list_icon"><i
                          class="mdi mdi-map-marker"></i></span> <span>Location 5</span> </li>
                  </ul>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
  </div>
</ng-template>

<!-- delete modal -->
<ng-template #userDelete let-modal>
  <div class="modal-body">
    <p>Are You Sure want to delete this user?</p>
    <div class="btn-group">
      <button type="button" class="btn btn-primary mr-2" aria-label="Close"
        (click)="modal.dismiss('Cross click')">Yes</button>
      <button type="button" class="btn btn-seconadary" aria-label="Close"
        (click)="modal.dismiss('Cross click')">No</button>
    </div>
  </div>
</ng-template>

<!-- edit user detail -->
<ng-template #userDetail let-modal>
  <div class="modal-body">
    <div class="card">
      <form action="#">
        <div class="form-body">
          <div class="card-body">
            <div class="row p-t-20">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Name</label>
                  <input type="text" id="firstName" class="form-control" placeholder="John doe">

                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group has-success">
                  <label class="control-label">Bike Battery</label>
                  <select class="form-control custom-select">
                    <option value="">10%</option>
                    <option value="">20%</option>
                    <option value="">30%</option>
                    <option value="">40%</option>
                    <option value="">50%</option>
                    <option value="">60%</option>
                    <option value="">70%</option>
                    <option value="">80%</option>
                    <option value="">90%</option>
                    <option value="">100%</option>
                  </select>

                </div>

              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row ">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Contact No</label>
                  <input type="text" id="firstName" class="form-control" placeholder="John doe">

                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">Email</label>
                  <input type="email" id="email" class="form-control form-control-danger"
                    placeholder="example@gmail.com">

                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">Start Ride Date</label>
                  <input type="date" id="lastName" class="form-control form-control-danger" placeholder="12/12/2020">

                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">End Ride Date</label>
                  <input type="date" class="form-control">
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Ride Type</label>
                  <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                    <option value="Category 1">Tour</option>
                    <option value="Category 2">Destination</option>
                  </select>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">User Status</label>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">Active</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">Inactive</label>
                  </div>
                </div>
                
              </div>
              <!--/span-->
              <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">User Permission</label>
                <select class="form-control custom-select">
                    <option value="">User Permission</option>
                    <option value="">Accepted</option>
                    <option value="">Pending</option>
                    <option value="">Rejected</option>
                </select>
              </div>
            </div>
            </div>
            <!--/row-->
          </div>

          <div class="form-actions">
            <div class="card-body">
              <button type="submit" class="btn btn-success mr-3" (click)="modal.dismiss('Cross click')">
                <i class="fa fa-check"></i> Update</button>
              <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</ng-template>
