<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/background/login-register.jpg) no-repeat center center;">
    <div class="auth-box on-sidebar">
        <div id="loginform" [ngClass]="{'d-none': showPasswordRecoveryForm}">
            <div class="logo">
                <span class="db"><img src="assets/images/content.svg" alt="logo" /></span>
            </div>
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-horizontal m-t-20" id="loginform">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-lg" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1" formControlName="email">
                            <p class="errors" *ngIf="isSubmitted && loginForm.controls['email'].errors?.required">This field is required</p>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                            </div>
                            <input type="password" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" formControlName="password">
                            <p class="errors" *ngIf="isSubmitted && loginForm.controls['password'].errors?.required">This field is required</p>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input formControlName="rememberMe" type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember me</label>
                                    <a (click)="showRecoverForm()" href="javascript:void(0)" id="to-recover" class="text-dark float-right"><i class="fa fa-lock m-r-5"></i> Forgot password</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info" type="submit">Log In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="recoverform" [ngClass]="{'d-block': showPasswordRecoveryForm}">
            <div class="logo">
                <span class="db"><img src="assets/images/content.svg" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Recover Password</h5>
                <span>Enter your Email and instructions will be sent to you!</span>
            </div>
            <div class="row m-t-20">
                <form class="col-12" [formGroup]="recoveryForm">
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control form-control-lg" formControlName="email" type="email" placeholder="Email">
                            <p class="errors" *ngIf="isSubmitted && recoveryForm.controls['email'].errors?.required">This field is required</p>
                        </div>
                    </div>
                    <div class="row m-t-20">
                        <div class="col-8">
                            <button class="btn btn-block btn-lg btn-danger" (click)="recover()" type="submit" name="action">Reset</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-block btn-lg btn-primary" role="button" type="button" (click)="showRecoverForm()" type="submit" name="action">Back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>