<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
    style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box">
        <div>
            <div class="logo">
                <span class="db"><img alt="thumbnail" class="" width="100" src="assets/images/logo.svg"></span>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" [formGroup]="form" (ngSubmit)="save()">
                        <div class="form-group row">
                            <div class="col-12">
                                <input formControlName="oldPassword" class="form-control form-control-lg"
                                    type="password" required="" placeholder="Old Password">
                                <p class="errors" *ngIf="isSubmitted && form.controls['oldPassword'].errors?.required">
                                    Field is required</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <input formControlName="newPassword" class="form-control form-control-lg"
                                    type="password" required="" placeholder="New Password">
                                <p class="errors" *ngIf="isSubmitted && form.controls['newPassword'].errors?.required">
                                    Field is required</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <input formControlName="confirmNewPassword" class="form-control form-control-lg"
                                    type="password" required="" placeholder="Confirm New Password">
                                <p class="errors"
                                    *ngIf="isSubmitted && form.controls['confirmNewPassword'].errors?.required">Field is
                                    required</p>
                                <p class="errors"
                                    *ngIf="isSubmitted && form.controls['confirmNewPassword'].hasError('mustMatch')">New
                                    passwords must be same</p>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>