<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body text-center">
                <div class="m-t-30 text-center">
                    <img *ngIf="image" src="{{image}}" class="rounded-circle" width="150" />
                    <img *ngIf="!image" src="assets/images/users/user.jpg" class="rounded-circle" width="150" />
                </div>
                <div class="upload-btn-wrapper">
                    <button class="btn-upload"><i class="mdi mdi-pencil"></i></button>
                    <input type="file" name="myfile" accept="image/png, image/jpeg"
                        (change)="onChange($event, 'image')" />
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-body">
                <small class="text-muted p-t-30 db">Name</small>
                <h6>{{ profileData ? profileData['firstName'] : '' }} {{ profileData ? profileData['lastName'] : '' }}</h6>
                <small class="text-muted">Email address </small>
                <h6>{{ profileData ? profileData['email'] : '' }}</h6>
                <small class="text-muted p-t-30 db">Phone</small>
                <h6>{{ profileData ? profileData['phone'] : '' }}</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <ngb-tabset type="pills" class="custom-pills">
                <ngb-tab title="Settings">
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <form class="form-horizontal form-material" [formGroup]="form" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="col-md-12">First Name</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="First Name" class="form-control form-control-line"
                                            formControlName="firstName">
                                        <p class="errors"
                                            *ngIf="isSubmitted && form.controls['firstName'].errors?.required">
                                            This field is required</p>
                                        <p class="errors" *ngIf="isSubmitted && form.errors?.whitespacefn">
                                            Cannot be empty</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Last Name</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="Last Name" class="form-control form-control-line"
                                            formControlName="lastName">
                                        <p class="errors"
                                            *ngIf="isSubmitted && form.controls['lastName'].errors?.required">
                                            This field is required</p>
                                        <p class="errors" *ngIf="isSubmitted && form.errors?.whitespaceln">
                                            Cannot be empty</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Phone No</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="+91 9876543210"
                                            class="form-control form-control-line" formControlName="phone">
                                        <p class="errors"
                                            *ngIf="isSubmitted && form.controls['phone'].errors?.pattern">Enter valid
                                            number</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success" (click)="save()">Update Profile</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
    <!-- Column -->
</div>