<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>User ID</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                
            </div>
       
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Reward </label>
                    <select class="custom-select col-12" id="example-month-input2">
                        <option selected="">Rewards gained by bikes</option>
                        <option value="free">Rewards gained by events</option>
                        <option value="Discount">Rewards spent for bikes</option>                   
                        <option value="Discount">Rewards spent for events</option>                   
                        <option value="Discount">Rewards gained by admin</option>                   
                    </select>
                </div>
            </div>
           
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                    <label>Reward Points</label>
                    <input type="text" class="form-control" value="10">
                </div>
            </div>
            <!--/span-->
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Successful Orders</h4>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Reward Amount Bike</label>
                    <input type="text" class="form-control" placeholder="Add Points">
                </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group">
                    <label>Reward Amount Event</label>
                    <input type="text" class="form-control" placeholder="Add Points">
                </div>
            </div>
            <!--/span--> 
            <div class="col-md-12">
                <h4>Total Points Each Review Earned By Users</h4>
                <div class="form-group">
                    <label>Rewards Point</label>
                    <input type="text" class="form-control" placeholder="Add Points">
                </div>
            </div>  
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary">Save</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            
            <div class="form-group">
                <label>One Reward Point spent</label>
                <input type="text" class="form-control" placeholder="SAR">
            </div>
        </div>  
        <div class="col-md-12">
           
            <div class="form-group">
                <label> Rewards Point Gain Bike</label>
                <input type="text" class="form-control" placeholder="SAR">
            </div>
        </div>  
        <div class="col-md-12">
          
            <div class="form-group">
                <label> Rewards Point Gain Event</label>
                <input type="text" class="form-control" placeholder="SAR">
            </div>
        </div>  
        <button class="btn btn-primary">Save</button>
    </div>
    </div>
   
   
   
    
     
  
</div>