<div class="card-body">
    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group">
                <label>Phone No</label>
                <input type="text" class="form-control">
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-4 ">
            <div class="form-group">
                <label>Reward </label>
                <select class="custom-select col-12" id="example-month-input2">
                    <option selected="">One Day Bike Rent Free</option>
                    <option value="free">Free Entry to a Event</option>
                    <option value="Discount">Discount</option>                   
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Disocunt Type</label>
                <select class="custom-select col-12" id="discount-box" >
                    <option selected="">Fixed </option>
                    <option value="1">Percentage Based</option>
                    <option value="2">Combination of Both</option>                   
                </select>
            </div>
        </div>
          <!--/span-->
          <div class="col-md-4">
            <div class="form-group">
                <label>Reward Points</label>
                <input type="text" class="form-control" value="10">
            </div>
        </div>
        <!--/span-->
    </div>
   
    <div class="row">
        <div class="col-md-12">
            <h4>Successful Orders</h4>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Reward Amount Bike</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!--/span-->
        <div class="col-md-6">
            <div class="form-group">
                <label>Reward Amount Event</label>
                <input type="text" class="form-control" >
            </div>
        </div>
        <!--/span-->   
    </div>
      <!--/row-->
      <div class="row">
        <div class="col-md-12">
            <h4>Total Points Eardned By Users</h4>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Reward Amount Bike</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!--/span-->
         
    </div>
  
    <div class="row">
        <div class="col-md-12">
            <h4>Total Points Each Review Earned By Users</h4>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Rewards Point</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!--/span-->
         
    </div>
</div>