<div class="row">
    <div class="col-md-4">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-xl bg-danger">
                        <i class="sl-icon-people text-white"></i>
                    </span>
                </div>
                <div>
                    Total Users 
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">223</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Card -->
</div>
<!-- col-md-4 -->
<div class="col-md-4">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-xl bg-danger">
                        <i class="sl-icon-user text-white"></i>
                    </span>
                </div>
                <div>
                    New Users <span class="font-10 d-block">Current Day</span>
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">23</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Card -->
</div>
<!-- col-md-4 -->
<div class="col-md-4">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-xl btn-info">
                        <i class="mdi mdi-bike text-white"></i>
                    </span>
                </div>
                <div>
                    Total Bikes

                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">113</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- col-md-4 -->
<div class="col-md-4">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-xl bg-success">
                        <i class=" sl-icon-calender text-white"></i>
                    </span>
                </div>
                <div>
                    Total Events

                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">43</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- col-md-4 -->
<div class="col-md-4">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-xl btn-info">
                        <i class="mdi mdi-bike text-white"></i>
                    </span>
                </div>
                <div>
                    New Bikes<span class="font-10 d-block">Current Day</span>

                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">63</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- col-md-4 -->

    <!-- Column -->
</div>