<div class="row">
    <div class="col-md-4">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-xl bg-danger">
                        <i class="sl-icon-user text-white"></i>
                    </span>
                </div>
                <div>
                    Total users 
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">23</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Card -->
</div>
<!-- col-md-4 -->
<div class="col-md-4">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-xl btn-info">
                        <i class="mdi mdi-bike text-white"></i>
                    </span>
                </div>
                <div>
                    Total Bikes

                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">113</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- col-md-4 -->
<div class="col-md-4">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-xl bg-success">
                        <i class=" mdi mdi-road-variant text-white"></i>
                    </span>
                </div>
                <div>
                    Total Destinations

                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">43</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- col-md-4 -->
<div class="col-md-4">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-xl bg-warning">
                        <i class="mdi mdi-airplane text-white"></i>
                    </span>
                </div>
                <div>
                    Total Trips

                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">63</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- col-md-4 -->
<div class="col-md-4">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-xl bg-secondary">
                        <i class="mdi mdi-calendar-today text-white"></i>
                    </span>
                </div>
                <div>
                    Current Day Bookings

                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">10</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- col-md-4 -->
<div class="col-md-4">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-xl bg-primary">
                        <i class="mdi mdi-library-books text-white"></i>
                    </span>
                </div>
                <div>
                    Ongoing Bookings

                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">8</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- col-md-4 -->
    <!-- Column -->
</div>